Name:AlWELL THANKGOD CHISOM
"Jupyter Assignment.ipynb"

In [1]:
#installing pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
#installing numpy
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (2.1.3)

In [1]:
#importing pandas and numpy library
import numpy as np
import pandas as pd

In [2]:
# file location of the file to be read
file_path = r"C:\Users\USER\Documents\Axia Learning Material\Assignments folder\Axia bddata.csv"

In [11]:
# creating a variable to read the file
bp = pd.read_csv(file_path)

In [12]:
# 1. getting detailed information about the data
bp.info

<bound method DataFrame.info of      Unnamed: 0  patient     sex agegrp  bp_before  bp_after
0             0        1    Male  30-45        143       153
1             1        2    Male  30-45        163       170
2             2        3    Male  30-45        153       168
3             3        4    Male  30-45        153       142
4             4        5    Male  30-45        146       141
..          ...      ...     ...    ...        ...       ...
115         115      116  Female    60+        152       152
116         116      117  Female    60+        161       152
117         117      118  Female    60+        165       174
118         118      119  Female    60+        149       151
119         119      120  Female    60+        185       163

[120 rows x 6 columns]>

In [13]:
# 2. Display the top 10 records in the data
bp.head(10)

   Unnamed: 0  patient   sex agegrp  bp_before  bp_after
0           0        1  Male  30-45        143       153
1           1        2  Male  30-45        163       170
2           2        3  Male  30-45        153       168
3           3        4  Male  30-45        153       142
4           4        5  Male  30-45        146       141
5           5        6  Male  30-45        150       147
6           6        7  Male  30-45        148       133
7           7        8  Male  30-45        153       141
8           8        9  Male  30-45        153       131
9           9       10  Male  30-45        158       125

In [14]:
# 3. checking for duplicates 
bp.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
115    False
116    False
117    False
118    False
119    False
Length: 120, dtype: bool

In [15]:
# 3b. checking for number of duplicates in the dataset
bp.duplicated().sum()

np.int64(0)

In [16]:
# 3c. displaying the dulpicate values if any
bp[hospital_bp.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, patient, sex, agegrp, bp_before, bp_after]
Index: []

In [17]:
# 4. checking the number of Rows and columns 
bp.shape

(120, 6)

In [19]:
# 5. Exoport this Bpdata to an Excel file.
bp.to_excel("bp.xlsx", index = False)